.settings {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background-color: #f8f8f8;
    /* animation: navbar .3s; */
}

.settings_content {
    margin: 100px 0;
    color: var(--color);
}

.settings_content a {
    display: flex;
    align-items: center;
    color: var(--color);
    padding: 20px 40px;
    transition: .3s;
}

.settings_content span {
    font-weight: 600;
    font-size: 15px;
    opacity: .5;
}

.settings_content img {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    /* filter: invert(100%); */
    opacity: .3;
}

.settings_avatar {
    width: 35px !important;
    height: 35px !important;
    opacity: 1 !important;
    filter: invert(0%) !important;
    border-radius: 50%;
}

.settings_content a:hover {
    background-color: rgba(0, 0, 0, 0.030);
}

.settings_content button {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: transparent;
    color: #ff5a5a;
    font-weight: 600;
    font-size: 14px;
}

.settings_home {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    margin: 40px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.200);
    opacity: .9;

    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/746976276216152104/chevron-left.png);
}

.settings_active {
    padding-left: 50px !important;
    background-color: rgba(0, 0, 0, 0.050) !important;
    border-left: solid 5px rgba(0, 0, 0, 0.100);
}

.settings_active img {
    opacity: .7 !important;
}

.settings_active span {
    opacity: .7;
}

@media only screen and (max-width:1200px) {
    .settings {
        width: 250px;
    }

    .settings_content {
        margin: 50px 0;
    }

    .settings_content a {
        padding: 15px 20px;
    }

    .settings_content img {
        width: 15px !important;
        height: 15px !important;
    }

    .settings_content span {
        font-size: 9px;
    }

    .settings_home {
        width: 30px;
        height: 30px;
        margin: 20px;
    }
}