.content {
    position: absolute;
    left: 20%;
    width: 80%;
}

.list {
    margin: 10% 0 10% 7%;
    width: 70%;
}

.list a {
    display: inline-block;
    width: 230px;
    height: 200px;
    border-radius: 5px;
    margin: 0 20px 20px 0;
    transition: .1s;

    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: 40%;
}

.list a:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.177);
}

.list span {
    display: inline-block;
    margin: 20px;
    font-size: 14px;
    background-color: white;
    font-weight: 600;
    color: var(--color);
    padding: 6px 12px;
    border-radius: 5px;
    max-width: 40%;
}

            .activity_time {
                background-color: #4f86df;
                background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/723812016195633163/inactive.png);
            }

            .activity_likes {
                background-color: #f7747f;
                background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/723814078341971979/transition-both.png);
            }

            .activity_promo {
                background-color: #74f7a9;
                background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/724105090134442044/transit.png);
            }