.wallpaper_bar span {
    position: absolute;

    animation: minusToptoTop 3s;
}

.wallpaper_bar span:nth-child(1) {
    top: 0;
    left: 5%;
    width: 1%;
    height: 10%;
    border-radius: 0 0 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
    z-index: 1;
}

.wallpaper_bar span:nth-child(2) {
    top: 0;
    left: 7%;
    width: 1%;
    height: 7%;
    border-radius: 0 0 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
    z-index: 1;
}

.wallpaper_bar span:nth-child(3) {
    top: 0;
    right: 40%;
    width: 1%;
    height: 4%;
    border-radius: 0 0 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
}

.wallpaper_bar span:nth-child(4) {
    top: 6%;
    right: 40%;
    width: 1%;
    height: 3%;
    border-radius: 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
}

.wallpaper_bar span:nth-child(5) {
    top: 0;
    right: 46%;
    width: 1%;
    height: 2%;
    border-radius: 0 0 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
}

.wallpaper_bar span:nth-child(6) {
    top: 4%;
    right: 46%;
    width: 1%;
    height: 2%;
    border-radius: 100px 100px;
    background: linear-gradient(to bottom, var(--theme-a),var(--theme-b));
}


.wallpaper_bar span:nth-child(7) {
    top: 0;
    left: 0;
    width: 10%;
    height: 30%;
    background-color: whitesmoke;
    border-radius: 0 0 100px 100px;
}

.wallpaper_bar span:nth-child(8) {
    top: 0;
    left: 20%;
    width: 10%;
    height: 20%;
    background-color: whitesmoke;
    border-radius: 0 0 100px 100px;
}

.wallpaper_bar span:nth-child(9) {
    top: 0;
    right: 13%;
    width: 4%;
    height: 30%;
    background-color: whitesmoke;
    border-radius: 0 0 100px 100px;
}

.wallpaper_bar span:nth-child(10) {
    top: 0;
    right: 5%;
    width: 5%;
    height: 17%;
    background-color: whitesmoke;
    border-radius: 0 0 100px 100px;
}

@keyframes minusToptoTop {
    from {
        top: -10%;
    }

    to {
        top: ;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: bottom;
    background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/741913538351726622/auth.png);
}

.background::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    backdrop-filter: blur(3px);
}

/* .background::before {
    content: "Maël Balland";
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 30px;
    font-size: 12px;
    color: white;
    opacity: .3;
    z-index: 1;
} */

.background_content {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    margin: 5%;
}

.background_content h1 {
    font-weight: 600;
    width: 450px;
    font-size: 50px;
}

.register {
    position: fixed;
    right: 0;
    width: 40%;
    height: 100%;
    overflow-x: auto;
    text-align: center;
}

.register form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    text-align: left;
}

.auth_title  {
    font-size: 24px;
    font-weight: 600;
    display: block;
    margin-bottom: 50px;
}

.auth_title::before {
    content: "";
    position: absolute;
    margin: 35px 0 0 0;
    top: 0;
    left: 0;
    width: 30px;
    height: 5px;
    border-radius: 100px;
    background: linear-gradient(to right, var(--theme-a),var(--theme-b));
    opacity: .3;
    transition: .3s;
}

.auth_title:hover::before {
    width: 50px;
    opacity: .8;
}

.register_inputs input {
    display: block;
    margin-bottom: 30px;
    background-color: #f8f8f8;
    border-radius: 100px;
    padding: 18px 25px;
    width: 85%;
    font-size: 13px;
    font-weight: 600;
}

.auth_message {
    width: 80%;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 30px;
}

.auth_message a {
    text-decoration: underline;
}

.auth_button {
    width: 100%;
    background: radial-gradient(circle at top left, var(--theme-a),var(--theme-b));
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 20px 0;
    border-radius: 100px;
    cursor: pointer;
}

.auth_alternative {
    display: block;
    text-align: center;
    margin-top: 40px;
    color: var(--color);
    opacity: .7;
}

.auth_alternative span {
    font-weight: 600;
}

.auth_alreadyGot {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 12px;
    color: var(--color);
    margin: 50px;
    margin-left: 5%;
    opacity: .8;
    font-weight: 600;
    padding: 10px 20px;
    background-color: white;
    border-radius: 100px;
    opacity: .8;
    transition: .3s;
}

.auth_alreadyGot:hover {
    opacity: 1;
}

.login_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.login_content h1 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 40px;

    background: radial-gradient(circle at left, var(--theme-a),var(--theme-b));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login_content form {
    width: 300px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.login_content input {
    width: 100%;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #fafafa;
}

.login_content input::placeholder {
    color: var(--color);
    opacity: .4;
}

.login_content input:focus {
    border-color: #afafaf;
}

.trouble {
    font-size: 12px;
    text-align: left;
    float: left;
    color: var(--color);
    font-weight: 600;
    opacity: .8;
}

.login_button {
    width: 100px !important;
    float: right;
    margin-top: -12px !important;
    margin-bottom: 0 !important;
    margin-right: -40px !important;
    border-radius: 50px 100px !important;
    background: radial-gradient(circle at top left, var(--theme-a),var(--theme-b));
    color: white;
    font-size: 12px;
    cursor: pointer;
    border: solid 3px rgba(255, 255, 255, 0.500) !important;
    border-left: none !important;
    border-right: none !important;
}

.login_alternative {
    display: inline-block;
    font-size: 14px;
    color: var(--color);
    margin: 0 !important;
    margin-top: 50px !important;
    width: 350px;
    padding: 0;
    border-right: 100px;
}