.explore {
    position: absolute;
    left: 7%;
    width: 93%;
}

.explore_topBar {
    position: relative;
    top: 30px;
    left: 0;
    margin-left: 5%;
    display: block;
}

/* .explore_search {
    display: flex;
    justify-content: left;
    align-items: center;
} */

.explore_search input {
    background-color: #ebebeb;
    padding: 12px 12px 12px 45px;
    border-radius: 10px;
    font-size: 12px;

    background-image: url(../../../public/images/search.png);
    background-position: 13px;
    background-repeat: no-repeat;
    background-size: 10%;
}

.explore_search button {
    background: linear-gradient(to bottom right, var(--theme-a),var(--theme-b));
    display: inline-block;
    height: 45px;
    width: 45px;
    border: solid 5px var(--background);
    color: white;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    margin-left: -10px;

    display: none;
}

.explore_categories {
    position: absolute;
    top: 0;
    right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100px;
}

.explore_categories a {
    margin-bottom: 20px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    transition: .3s;
}

.explore_categories img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.explore_categories span {
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translate(-50%);
    font-weight: 600;
    text-align: center;
    color: var(--color);
    padding: 0 0 5px;
    opacity: .6;
    font-size: 13px;
}

.explore_categories_forYou {
    opacity: 1 !important;
    border-bottom: solid 2px var(--color);
}

.explore_categories a:hover {
    transform: scale(1.1) translate(-50%);
}

@media screen and (max-width: 1000px) {
    .explore {
        left: 0;
        /* transform: translate(-50%); */
        width: 100%;
    }

    .explore_search input {
        position: relative;
        padding: 16px 30px 16px 45px;
        width: 40%;
        border-radius: 100px;

        background-size: 20px;
    }

    .explore_categories {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        /* height: 100px; */
        padding: 5% 0 20px 10%;

        white-space: nowrap;
        overflow-y: auto;
    }

    .explore_categories a {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 20px;
        left: 0;
        transform: none;
    }

    .explore_categories a:hover {
        transform: none;
    }
}