.side {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: url(https://sike.uno/images/cdn/svg-background/background.svg), linear-gradient(to bottom right, var(--theme-b), var(--theme-c));
  background-size: 300%;
  background-position: bottom;
  background-repeat: no-repeat;
}

.content {
  position: fixed;
  top: 50%;
  transform: translate(-0%,-50%);
  right: 43%;
  width: 45%;
}

.slogan {
  width: 350px;
  font-weight: 600;
  color: var(--theme-a);
  font-size: 40px;
  margin-bottom: 40px;
}

.register {
  position: relative;
  display: block;
  width: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.129);
}

.email h1 {
  opacity: .4;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 20px;
}

.email input {
  background-color: transparent;
  font-size: 18px;
  font-weight: 600;
  color: var(--theme-a);
  width: 50%;
}

.submit {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0,-50%);
  height: 60%;
  width: 30%;
  background-color: #eb6652;
  font-weight: 600;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.submit:hover {
  opacity: .8;
}


@media only screen and (max-width:1000px) {
  .side {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: 500%;
  }

  .side::before {
    content: "Sorry! This page is under not available.";
    position: fixed;
    top: 0;
    left: 0;
    margin: 50px;
    font-weight: 600;
    color: white;
    font-size: 20px;
  }

  .side::after {
    content: "Pebblo Team";
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    margin: 150px 50px;
    color: white;
    opacity: .8;
    font-weight: 600;
  }

  .content {
    display: none;
  }
}