.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 7%;
  height: 100%;
  background: linear-gradient(to bottom, var(--theme-a), var(--theme-b));
  color: #fff;
  z-index: 1;
}

.navigation_icon {
  position: absolute;
  width: 35px;
  height: 50px;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;

  display: block;
}

.navigation_icon span {
  position: relative;
  margin-bottom: 7px;
  display: block;
  background-color: #fff;
  height: 3px;
  border-radius: 5px;
}

.navigation_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_content a {
  display: block;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  text-align: center;
}

.navigation_content img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  opacity: .8;
  transition: .3s;
}

.navigation_content a:hover img {
  opacity: .8;
  transform: scale(1.1);
}

.navigation_createPost {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  border-radius: 50%;
  /* background-color: white; */
  background: linear-gradient(to bottom right, var(--theme-a),var(--theme-b));
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.122);
  /* transform: translate(-50%); */
  width: 52px;
  height: 52px;
  margin-right: -26px;
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .navigation {
    height: 52px;
    width: 101%;
    background: linear-gradient(to right, var(--theme-a), var(--theme-b));
  }

  .navigation_icon {
    display: none;
  }

  .navigation_content {
    display: block;
    position: absolute;
    width: 100%;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-110%);
  }

  .navigation_content a {
    display: inline-block;
    height: 100%;
    width: 25%;
  }

  .navigation_content img {
    width: 30px;
    height: 30px;
  }
}