.feed {
  position: absolute;
  left: 10%;
  top: 0;
  margin-top: 10%;
  width: 45%;
  height: 500px;
  transition: 1s;

  display: none;
  /* hide content on /profile */
}

.feed_nopost {
  display: block;
  padding: 40px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  opacity: .6;
}

.feed_nopost span {
  font-weight: 600;
}

.feed_nopost img {
  width: 30px;
  height: 30px;
  padding: 20px;
  border: solid 2px #dbdbdb;
  border-radius: 50%;
  margin-bottom: 16px;
}

.feed_post {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 80%;
  padding: 30px;
  border: solid 1px #e6e6e6;
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: #fff;
}

.feed_profile {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.feed_profile a {
  color: var(--color);
}

.feed_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.feed_profile_info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 60px;
  width: 70%;
}

.feed_profile_username {
  font-size: 14px;
  font-weight: 600;
  opacity: .6;
}

.feed_profile_timeStamp {
  font-size: 10px;
  display: block;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 19%; */
}

.feed_dropdown {
  position: absolute;
  top: 5px;
  right: 0;
}

.feed_caption {
  font-size: 14px;
}

.feed_image {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #fff;
  border: solid 1px #ddd;
}

.feed_interaction {
  margin-top: 20px;
  text-align: right;
}

.feed_interaction button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  text-align: center;
  background-color: transparent;
  float: left;
}

.feed_interaction span {
  font-size: 12px;
  display: block;
  opacity: .7;
}

.feed_interaction img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: grayscale(100%);
  transition: .1s;
  cursor: pointer;
}

.feed_interaction img:active {
  filter: grayscale(0);
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .feed {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.115);
    background-color: white;
    border-radius: 30px;
    padding: 30px 0 100px;

    /* display: none; */
  }

  .feed_post {
    width: 99%;
    padding: 12px;
    margin: 0;
    border-radius: 0;
    border: none;
    padding: 30px 0;
    border-bottom: solid 1px #f3f3f3;
  }

  .feed_profile,
  .feed_caption {
    position: relative;
    left: 50%;
    width: 90%;
    transform: translate(-50%);
  }

  .feed_image {
    width: 99%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px;
  }

  .feed_interaction {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    margin-top: 25px;
    margin-bottom: 50px;
  }
}