.profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 54%;
    margin-left: 46%;
    height: 100%;
}

.feed {
    position: relative;
    top: 0;
    left: var(--center-left);
    width: 40%;
}

.content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 10%;
    width: 80%;
}