.profile {
  position: relative;
  display: block;
  left: 65%;
  top: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  transform: translate(0, 0);
  width: 20%;
  height: 500px;
  z-index: 1;
  transition: 1s;
}

.profile_menu {
  position: absolute;
  top: 0;
  right: -10%;
  height: 30px;
  width: 10px;
  padding: 12px;
  cursor: pointer;
}

.profile_menu span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #555555;
  margin-bottom: 3px;
  border-radius: 50%;
}

.profile_menuContent {
  position: absolute;
  top: 50px;
  right: -155px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px #dddddd;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.143);
  width: 140px;
  padding: 5px;
  display: none;
  z-index: 2;

  animation: fadeIn .6s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.profile_menuContent a {
  display: block;
  color: var(--color);
  padding: 7px 12px;
  font-size: 12px;
}

.profile_menuContent_block {
  color: #fa6767 !important;
}

.profile_avatar {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background);
  margin-bottom: 10px;
}

.profile_badge {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 30px;
  height: 30px;
  background-color: var(--background);
  display: block;
  padding: 12px;
  border-radius: 50%;
  z-index: 1;
}

.profile_fullName {
  font-size: 20px;
  font-weight: 600;
  color: #585866;
}

.profile_username {
  font-size: 13px;
  opacity: .8;
  margin-bottom: 15px;
}

.profile_bio {
  font-size: 15px;
  color: #9099a4;
  margin-bottom: 10px;
}

.profile_list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.profile_list li {
  font-size: 14px;
  color: #585866;
  margin-bottom: 5px;
}

.profile_list i {
  display: inline-block;
  width: 20px;
  text-align: left;
}

.profile_list span {
  opacity: .8;
}

.profile_interaction_follow,
.profile_interaction_message {
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer;
}

.profile_interaction_follow {
  background: linear-gradient(to right, var(--theme-a), var(--theme-b));
  color: #fff;
}

.profile_interaction_message {
  color: var(--color);
  background-color: #ebebeb;
}

.profile_right {
  position: fixed;
  left: 60%;
  top: 10%;
  width: 30%;
  opacity: 0;
  transition: .3s;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}

.profile_right-avatar {
  position: relative;
  top: 50%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--background);
}

.profile_right-basic {
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translate(0, -50%);
}

.profile_right-fullName {
  font-size: 20px;
  font-weight: 600;
}

.profile_right-username {
  font-size: 13px;
  margin-bottom: 10px;
  opacity: .5;
}

.profile_right-basic button {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
  z-index: 1;
  cursor: pointer;
}

.profile_right-followToggle {
  color: #fff;
  background: linear-gradient(to right, var(--theme-a), var(--theme-b))
}

.profile_right-message {
  color: var(--color);
  background-color: var(--background);
}

.feed_search {
  position: relative;
  top: -5%;
  left: 50%;
  transform: translate(-50%);
  margin-left: 5%;
  background-color: saddlebrown;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 100px;
  width: 50%;
}

/* Responsive */

@media screen and (max-width: 1000px) {
  .profile {
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: auto;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }

  .profile_menu {
    right: 0;
    width: 0px;
  }

  .profile_menu span {
    width: 4px;
    height: 4px;
    margin-bottom: 4px;
  }

  .profile_menuContent {
    top: 50px;
    right: 5px;
    /* transform: translate(50%); */
    /* display: none; */
  }
}