.nav_content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 21%;
    margin-left: -1%;
    height: 100%;
    background-color: #f9f9f9;
    z-index: 1;
}

.nav_profile {
    position: absolute;
    margin-top: 10%;
    left: 50%;
    transform: translate(-50%);
    height: 30%;
    width: 100%;

    /* background-color: cadetblue; */
}

.nav_avatar {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.nav_info {
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    text-align: center;
}

.nav_displayName {
    font-size: 16px;
    font-weight: 600;
}

.nav_displayName img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.nav_username {
    margin: 2px 0 20px;
    font-size: 12px;
    font-weight: 600;
    color: #b6b6b6;
}

.nav_username::before {
    content: "@";
}

.nav_stats {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 120%;
}

.nav_stats a {
    color: var(--color);
    width: 50%;
    display: inline-block;
    font-size: 12px;
}

.nav_stats span {
    font-weight: 600;
    display: block;
    font-size: 16px;
}

.nav_pages {
    position: absolute;
    top: 37%;
    left: 15%;
    text-align: left;
    width: 85%;
    height: 63%;
    overflow-y: auto;
}

.nav_pages a {
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 7px 0;
    font-weight: 600;
    font-size: 12px;
    color: #6b6b6d;
}

.nav_pages img {
    width: 25px;
    margin-right: 15px;
    opacity: .7;
}

.nav_pages a:hover {
    color: var(--color);
}

.nav_pages a:nth-last-child(1) {
    margin: 30px 0 50px 0;
}

.nav_pages a:nth-last-child(1) img {
    transform: rotate(-30deg);
}

.topbar {
    position: absolute;
    top: 0;
    left: 100%;
    width: 380.8%;
    height: 70px;
    background-color: var(--background);
}

.topbar_right {
    position: absolute;
    top: 30px;
    left: 425%;
    width: 130px;
    /* transform: translate(-0%,-50%); */
}

.topbar_create {
    font-size: 12px;
    font-weight: 600;
    color: white;
    background: linear-gradient(to right, var(--theme-b),var(--theme-a));
    opacity: .8;
    padding: 8px 17px 8px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topbar_create img {
    filter: invert(100%);
    width: 13px;
    margin-right: 7px;
    background-color: rgba(0, 0, 0, 0.265);
    padding: 5px;
    border-radius: 50%;
}

.mobile {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: white;
}

.mobile_upload {
    position: absolute;
    top: -40px;
    right: 5%;
    transform: rotate(45deg);
    width: 45px;
    height: 45px;
    border-radius: 27px;
    border: solid 10px var(--background);
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to left, var(--theme-b),var(--theme-a))
}

.mobile_upload img {
    filter: invert(100%);
    width: 50%;
    transform: rotate(-45deg);
}

.mobile_link {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(-0%,-50%);
    width: 75%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile_link a {
    width: 25%;
    text-align: center;
}

.mobile_link img {
    width: 30px;
    height: 30px;
    opacity: .5;
}

@media screen and (max-width: 1000px) {
    .nav_content {
        display: none;
    }

    .mobile {
        display: block;
    }
}