.userpost {
    position: absolute;
    left: 7%;
    top: 0;
    width: 40%;
    margin: 2%;
    padding: 1%;

    /* background-color: saddlebrown; */
}

.userpost_profile {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.userpost_profile a {
    color: var(--color);
}

.userpost_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.userpost_profile_info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 60px;
    width: 70%;
}

.userpost_profile_username {
    font-size: 14px;
    font-weight: 600;
    opacity: .6;
}

.userpost_profile_timeStamp {
    font-size: 10px;
}

.userpost_caption {
    font-size: 14px;
}

.userpost_interaction {
    margin-top: 10px;
    text-align: left;
}

.userpost_interaction button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    text-align: center;
    background-color: transparent;
    float: left;
}

.userpost_interaction span {
  font-size: 12px;
  display: block;
  opacity: .7;
}

.userpost_interaction img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  filter: grayscale(100%);
  transition: .1s;
  cursor: pointer;
}

.userpost_interaction img:active {
  filter: grayscale(0);
}