.userpost_comments {
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 99%;
    padding: 1%;
    background-color: white;
    overflow-y: auto;
    display: block;
}

.userpost_comments_title {
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: right;
}

.userpost_comments_title_text {
    width: 60%;
    text-align: left;
}

.userpost_comments_title_counter {
    width: 40%;
    font-size: 14px;
    opacity: .4;
}

.post_comment {
    display: block;
    width: 90%;
    margin: 10px 20px 40px;
}

.post_comment_profile {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: var(--color);
}

.post_comment_profile img {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

.post_comment_profile h1 {
    font-size: 12px;
    font-weight: 600;
}

.post_comment_profile span {
    font-weight: normal;
    display: block;
    font-size: 10px;
    opacity: .6;
}

.post_comment p {
    font-size: 12px;
    display: block;
    color: #5d5d5d;
}

.post_comment_congratulate,
.post_comment_LOL {
    font-weight: 600;
    margin: 0 2px;
}

.post_comment_user {
    font-weight: 600;
}

.post_comment_user::before {
    content: "@";
}

.post_comment_tags:before {
    content: "#";
}

.post_comment_user:hover,
.post_comment_tags:hover {
    text-decoration-line: underline;
}

.post_comment_reply {
    width: 90%;
    padding-left: 10%;
    margin-left: -5%;
    margin-top: 20px;
    transform: scale(0.9);
    border-left: solid 2px #dfdfdf;
}

.post_comment_reply_more {
    font-size: 12px;
    margin-top: 15px;
    text-decoration-line: underline;
    color: var(--links);
    text-align: right;
}

.userpost {
    position: fixed;
    left: 7%;
    top: 0;
    width: 61%;
    height: 100%;
    overflow-y: auto;
}