.auth_right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    width: 40%;
}

.auth_right img {
    height: 100%;
    width: 100%;
}

.auth_form {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%,-50%);
    width: 400px;
}

.auth_title {
    font-size: 80px;
    width: 700px;
    margin-bottom: 50px;
    font-weight: 600;
    background: -webkit-radial-gradient(var(--theme-b), var(--theme-a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.auth_form input {
    font-size: 20px;
    padding: 20px 40px 20px 65px;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 100px;
    background-color: #f8f8f8;

    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 25px 50%;
}

.auth_form input:nth-child(2) {
    background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/750855758123499530/email.png);
}

.auth_form input:nth-child(3) {
    margin-bottom: 60px;
    background-image: url(https://cdn.discordapp.com/attachments/573688434380636175/746945746259148841/key.png);
}

.auth_form input[type="submit"] {
    text-align: center;
    padding: 20px 0;
    width: 40%;
    background: linear-gradient(to right, var(--theme-a), var(--theme-b));
    color: white;
    font-weight: 600;
}

@media only screen and (max-width:1600px) {
    .auth_form {
        width: 300px;
    }

    .auth_title {
        font-size: 60px;
    }

    .auth_form input {
        font-size: 16px;
        padding: 15px 30px 15px 50px;
        
        background-size: 20px;
        background-position: 20px 50%;
    }

    .auth_form input[type="submit"] {
        font-size: 14px;
        padding: 15px 0;
    }
}