.landing {
    position: relative;
    height: 100vh;
    width: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: 10;
}

.logo {
    position: absolute;
    top: 50%;
    left: 10vh;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo span {
    width: 7px;
    height: 30px;
    margin: 0 4px;
    display: block;
    background-color: white;
    border-radius: 100px;
    opacity: .9;
}

.logo span:nth-child(2) {
    height: 40px;
}

.links {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 20vh;
    transform: translate(0, -50%);
}

.links div {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.links a {
    position: relative;
    display: block;
    color: var(--color);
    font-weight: 600;
    font-size: 0.9em;
    margin: 0 15px;
    opacity: .7;
    transition: .3s;
}

.links a:hover {
    opacity: 1;
}

.links span {
    color: rgb(92, 91, 91);
}

.links_buttonOne,
.links_buttonTwo {
    opacity: 1 !important;
    padding: 12px 16px;
    border-radius: 5px;
    margin: 0 5px !important;
}

.links_buttonOne {
    background-color: rgb(218, 218, 218);
    color: rgba(124, 124, 124, 0.8) !important;
}

.links_buttonTwo {
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    color: white !important;
}

.landing_left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 100px;

    background: url(/images/svg/background.svg), radial-gradient(circle at top right, var(--theme-a), var(--theme-b));
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: top;
}

.landing_left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 10px;
    z-index: -1;
    opacity: .5;
    border-bottom-right-radius: 100px;

    filter: blur(10px);
    background: radial-gradient(circle at top right, var(--theme-a), var(--theme-b));
}

.landing_left_content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width);
    animation: fadeInLeft 1s;
}

.landing_left_header {
    font-size: 4em;
    font-weight: 600;
    /* transform: rotate(-2deg); */
}

.landing_left_desc {
    margin: 50px 0 0;
    font-size: 1.3em;
    width: 500px;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 600;
}

.content {
    margin-bottom: 200px;
}

.services {
    position: absolute;
    bottom: 10%;
    left: 45%;
    width: 800px;
    z-index: 1;
    animation: fadeIn 2s;
}

.services_item {
    position: relative;
    display: inline-block;
    margin: none;
    list-style: none;
    background-color: white;
    width: 300px;
    height: 180px;
    padding: 30px;
    border-radius: 15px;
    margin: 0 15px 15px;
    box-shadow: 3px 3px 10px rgba(124, 124, 124, 0.2);
    text-align: center;
}

.services_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 28);
    opacity: 0;
    transition: .3s;
}

.services_item:hover::before {
    opacity: 1;
}

.services_item:hover {
    color: white;
}

.services_item img {
    position: relative;
    /* left: 50%;
    transform: translate(-50%); */
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.services_item_title {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 1.5em;
    transition: .3s;
    color: var(--color);
}

.services_item:hover .services_item_title {
    opacity: 0;
}

.services_item_desc {
    position: relative;
    display: block;
    font-weight: 600;
    color: white;
    opacity: 0;
    margin-top: -50px;
    transition: .3s;
}

.services_item:hover .services_item_desc {
    opacity: 1;
}

.about,
.goal {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: var(--width );
    animation: fadeIn 5s;
}

.about {
    position: relative;
    z-index: -1;
}

.about_content {
    display: block;
    width: auto;
    margin: 150px 0;
    animation: fadeIn 3s;
}

.about_content h1 {
    font-weight: 600;
    font-size: 4em;
    text-align: center;
}

.about_content span {
    position: relative;
    display: inline-block;
}

.about_content span::before {
    content: "";
    position: absolute;
    top: 65%;
    height: 20px;
    width: 100%;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    opacity: 0.3;
    z-index: -1;
}

.goal_title {
    position: relative;
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 20px;
}

.goal_title::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 0;
    height: 20px;
    width: 10%;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    opacity: .2;
}

.goal_desc p {
    position: relative;
    display: block;
    width: 800px;
    margin: 10px 0;
    font-size: 1.1em;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
}

.goal_desc code {
    background-color: var(--background);
    padding: 2px;
    color: #333333;
    filter: invert(100%);
    border-radius: 100px;
}

.footer {
    position: relative;
    margin-top: 300px;
}

.footer_login {
    position: relative;
    width: 100%;
    min-height: 300px;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_login section {
    width: 400px;
}

.footer_login_title {
    font-size: 1.3em;
    font-weight: 600;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        margin-left: -50px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        margin-right: -10px;
    }

    to {
        opacity: 1;
        margin-right: 0;
    }
}

/* ======================================================

      RESPONSIVE LAYOUT
      
====================================================== */


@media only screen and (max-width: 2000px) {
}

@media only screen and (max-width: 1900px) {
}

@media only screen and (max-width: 1700px) {
}

@media only screen and (max-width: 1500px) {
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1000px) {
}