.messages {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    margin-left: 400px;
    background-color: var(--background);
}

.content section {
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 100%;
}

.recipient {
    background-color: #f8f8f8;
}

.sender {
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    color: white;
}

.recipient,
.sender {
    display: block;
    margin-bottom: 40px;
    padding: 16px 20px;
    font-size: 15px;
    border-radius: 30px;
    min-width: 300px;
    max-width: 600px;
}

.content div:nth-child(1) {
    margin-top: 10%;
}

.content div:nth-last-child(1) {
    margin-bottom: 10%;
}