.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--background);
}

.menu_links {
    position: fixed;
    top: 0;
    left: 250px;
    height: 100px;
    display: flex;
    align-items: center;
}

.menu_links a {
    color: var(--color);
    margin-right: 30px;
    opacity: .5;
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.menu_links a::after {
    content: "";
    position: absolute;
    margin-top: 28px;
    margin-left: 0px;
    border-radius: 100px;
    width: 0;
    height: 3px;
    background: linear-gradient(to right, var(--theme-a), var(--theme-b));
    opacity: 0;
    transition: .2s;
}

.menu_links a:hover::after {
    opacity: .8;
    width: 20px;
}

.menu_button {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(0%,-50%);
    margin-left: 3%;
    width: 30px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.menu_button span {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #313131;
}

.menu_button span:nth-last-child(1) {
    margin-bottom: 0;
}

.menu_company {
    position: absolute;
    top: 50%;
    margin-left: 2%;
    transform: translate(0%,-50%);
}

.menu_company h1 {
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
    background: -webkit-radial-gradient(var(--theme-b), var(--theme-a));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu_user {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0%, -50%);
    margin-right: 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu_user img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.menu_user span {
    font-weight: 600;
    opacity: 0.7;
    font-size: 0.8em;
}

.menu_buttons {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0;
    margin-right: 2%;
    display: flex;
    align-items: center;
}

.menu_buttons a {
    padding: 14px 30px;
    margin-left: 20px;
    border-radius: 100px;
    font-weight: 600;
}

.login {
    color: var(--color);
    border: solid 1px var(--color);
}

.create {
    color: white;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
}

.navigation {
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 200px;
    height: 100%;
    background-color: var(--background);
    /* background-color: #fafafa;
    border-right: solid 1px #f8f8f8; */
    z-index: 10;
    transition: .3s;
    /* animation: navbar .3s; */
}

.navigation_logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation_logo span {
    width: 7px;
    height: 30px;
    margin: 0 4px;
    display: block;
    background-color: var(--color);
    border-radius: 100px;
    opacity: .7;
}

.navigation_logo span:nth-child(2) {
    height: 40px;
}

.links {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%);
}

.links img {
    /* filter: invert(100%); */
    opacity: .5;
    width: 40%;
    transition: .3s;
}

.links a {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a:hover img {
    opacity: .8;
}

.active {
    /* background: linear-gradient(to right, var(--theme-a),var(--theme-b)); */
    background-color: #f8f8f8;
}

.active img {
    /* filter: invert(100%); */
}

.active img {
    opacity: .8;
    /* width: 40%; */
}

.avatar {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.avatar img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: solid 10px transparent;
    cursor: pointer;
}

.profile_dropup {
    display: block;
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 60px;
    min-width: 160px;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    padding: 7px;
    color: var(--color);
    border-radius: 5px;
    box-shadow: 3px 3px 10px #919191;
}

.profile_dropup a {
    padding: 10px 10px;
    color: white;
    /* font-weight: 600; */
    font-size: 15px;
    display: block;
    opacity: .8;
    border-radius: 5px;
}

.profile_dropup a:hover {
    background-color: rgba(255, 255, 255, 0.150);
}

/* .avatar:hover .profile_dropup {
    display: block;
    animation: dropup .3s;
} */

@keyframes dropup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.settings {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background-color: #f8f8f8;
    /* animation: navbar .3s; */
}

.settings_content {
    margin: 100px 0;
    color: var(--color);
}

.settings_content a {
    display: flex;
    align-items: center;
    color: var(--color);
    padding: 20px 40px;
    transition: .3s;
}

.settings_content span {
    font-weight: 600;
    font-size: 15px;
    opacity: .5;
}

.settings_content img {
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    /* filter: invert(100%); */
    opacity: .3;
}

.settings_avatar {
    width: 35px !important;
    height: 35px !important;
    opacity: 1 !important;
    filter: invert(0%) !important;
    border-radius: 50%;
}

.settings_content a:hover {
    background-color: rgba(0, 0, 0, 0.030);
}

.settings_content button {
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    background-color: transparent;
    color: #ff5a5a;
    font-weight: 600;
    font-size: 14px;
}

.settings_home {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    margin: 40px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.200);
    opacity: .9;

    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-image: url(https://cdn.discordapp.com/attachments/596156721928470547/746976276216152104/chevron-left.png);
}

.settings_active {
    padding-left: 50px !important;
    background-color: rgba(0, 0, 0, 0.050) !important;
    border-left: solid 5px rgba(0, 0, 0, 0.100);
}

.settings_active img {
    opacity: .7 !important;
}

.settings_active span {
    opacity: .7;
}

.message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(var(--theme-a), var(--theme-b));
}

.message_avatar {
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    border-radius: 50%;
    margin: 25px 0;
    width: 50px;
    height: 50px;
    border: solid 2px rgba(255, 255, 255, 0.150);
    cursor: pointer;
}

.messages_pages {
    width: 100%;
    margin: 50px 0;
}

.messages_pages a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.message_active {
    background-color: rgba(255, 255, 255, 0.150);
}

.messages_pages img {
    filter: invert(100%);
    width: 30px;
    height: 30px;
    opacity: .8;
}

.contacts {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fafafa;
}

.contacts_content {
    margin-left: 100px;
}

.contacts_filter {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.contacts_filter input {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    margin-top: 25px;
    padding: 0 30px 0 70px;
    width: 100%;
    font-weight: 600;
    background-color: transparent;

    background-repeat: no-repeat;
    background-position: 30px 50%;
    background-size: 25px;
    background-image: url(https://cdn.discordapp.com/attachments/667293886468718592/734609486307786862/search.png);
}

.contacts_filter input::placeholder {
    font-weight: normal;
}

.contact_item {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    height: 30px;
    width: 100%;
    padding: 20px 0;
    border-radius: 0 1000px 1000px 0;
}

.contact_item section {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 30px;
}

.contact_avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    border-radius: 50%;
}

.contact_names {
    display: flex;
    align-items: center;
}

.contact_names img {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-right: -5px;
}

.contact_names span {
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
    opacity: .7;
}

.contact_item:hover {
    background-color: rgba(0, 0, 0, 0.030);
}

.contact_item:hover span {
    opacity: .8;
}
/* .contact_lastMessage {
    max-width: 100%;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
    max-height: 20px;
    font-size: 14px;
} */

.contact_timeStamp {
    width: 100%;
    opacity: .5;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
}

.contact_status {
    position: absolute;
    top: 50%;
    left: 5px;
    width: 5px;
    height: 100%;
    display: none;
}

.contact_status span {
    display: block;
    width: 100%;
    height: 100%;
    transform: translate(0%, -50%);
}

.contact_status_offline {
    background-color: #afafaf;
}

.contact_status_online {
    background-color: #4aca4a;
}

.contact_status_idle {
    background-color: #f6bb3a;
}

.contact_status_dnd {
    background-color: #ff5a5a;
}

.dash {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--background);
    z-index: 1;
}

.dash_company {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    margin: 50px;
}

.dash_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.dash_logo span {
    width: 6px;
    height: 20px;
    background: linear-gradient(to bottom, var(--theme-a), var(--theme-b));
    border-radius: 500px;
    margin: 0 4px;
}

.dash_logo span:nth-child(even) {
    margin: 0;
}

.dash_company h1 {
    font-weight: 600;
    font-size: 1.3em;
}

.dash_company span {
    opacity: .8;
    font-weight: normal;
}

.dash_logo span:nth-child(2) {
    height: 30px;
}

.dash_pages {
    margin-left: 50px;
}

.dash_pages a {
    display: block;
    padding: 20px 0;
    width: 100%;
    font-weight: 600;
    color: var(--color);
    border-radius: 100px;
    opacity: .8;
    transition: .3s;
}

.dash_active {
    opacity: 1 !important;
    margin-left: -30px;
    color: white !important;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
}

.dash_active span {
    padding-left: 30px;
}

.dash_pages hr {
    display: block;
    width: 100%;
    margin: 15px 0;
    border: none;
}

@media only screen and (max-width:1400px) {
    .menu,
    .menu_links {
        height: 70px;
    }

    .menu_links {
        left: 50%;
        transform: translate(-50%);
    }

    .menu_links a {
        font-size: 12px;
    }

    .menu_company h1 {
        font-size: 20px;
    }

    .menu_user {
        margin-right: 50px;
        width: 40px;
        height: 40px;
    }
    
    .menu_user span {
        display: none;
    }

    .navigation {
        width: 150px;
    }

    .navigation_logo {
        margin-top: 60px;
    }

    .navigation_logo span {
        width: 5px;
        height: 20px;
        margin: 0 3px;
    }

    .navigation_logo span:nth-child(2) {
        height: 30px;
    }

    .links {
        top: 150px;
    }

    .links a {
        width: 45px;
        height: 45px;
        margin-bottom: 15px;
    }

    .avatar {
        width: 50px;
        height: 50px;
    }

    .settings {
        width: 300px;
    }

    .settings_content a {
        padding: 15px 20px;
    }

    .settings_content img {
        width: 22px !important;
        height: 22px !important;
    }

    .settings_content span {
        font-size: 14px;
    }

    .message {
        width: 80px;
    }

    .message_avatar {
        width: 35px;
        height: 35px;
    }

    .messages_pages img {
        width: 20px;
        height: 20px;
    }

    .messages_pages a {
        height: 50px;
    }

    .contacts_filter input {
        margin-top: 15px;
        padding-left: 50px;
        font-size: 12px;

        background-position: 20px 50%;
        background-size: 20px;
    }

    .contacts {
        width: 300px;
    }

    .contacts_content {
        margin-left: 80px;
    }

    .contact_item {
        height: 10px;
    }

    .contact_avatar {
        width: 25px;
        height: 25px;
        margin-left: 15px;
    }

    .contact_names img {
        width: 20px;
        height: 20px;
        margin-left: -10px;
    }

    .contact_names span {
        font-size: 12px;
    }

    .contact_timeStamp {
        font-size: 10px;
    }
}

@media only screen and (max-width:1200px) {
    .navigation {
        width: 130px;
    }

    .navigation_logo span {
        height: 15px;
        width: 4px;
    }

    .navigation_logo span:nth-child(2) {
        height: 25px;
    }

    .links {
        top: 130px;
    }

    .links a {
        width: 35px;
        height: 35px;
        margin-bottom: 10px;
    }

    .avatar {
        width: 30px;
        height: 30px;
        bottom: 30px;
    }

    .settings {
        width: 250px;
    }

    .settings_content {
        margin: 50px 0;
    }

    .settings_content a {
        padding: 15px 20px;
    }

    .settings_content img {
        width: 15px !important;
        height: 15px !important;
    }

    .settings_content span {
        font-size: 9px;
    }

    .settings_home {
        width: 30px;
        height: 30px;
        margin: 20px;
    }
}

@media only screen and (max-width:1000px) {
    .menu {
        height: 60px;
    }

    .menu_company {
        left: 50%;
        margin-left: 0;
        transform: translate(-50%,-50%);
        font-size: 20px;
    }

    .menu_button {
        display: block;
        margin-left: 4%;
    }

    .menu_user {
        margin-right: 4%;
    }

    .menu_user img {
        width: 35px;
        height: 35px;
    }

    .navigation {
        width: 100%;
        height: 60px;
        border: none;
        border-top: solid 1px #f8f8f8;
        animation: none;
    }

    .navigation_logo {
        display: none;
    }

    .avatar {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 50px;
        margin: 40px 10px;
        transform: none;
    }

    .profile_dropup {
        left: 0;
        bottom: 60px;
    }

    .avatar:hover .profile_dropup {
        display: none;
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }

    .links a {
        width: 25%;
        height: 100%;
        margin: 0;
    }

    .links img {
        width: 25px;
        height: 25px;
    }

    .active {
        background: transparent;
    }

    .active img {
        filter: none;
    }

    .menu_links {
        display: none;
    }

    .menu_links_mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-top: 60px;
        background: linear-gradient(to bottom right, var(--theme-a), var(--theme-b));
        min-width: 200px;
        height: 100px;
        border-radius: 5px;
        padding: 30px 0;
        box-shadow: 3px 3px 10px #919191;
    }

    .menu_links_mobile a {
        display: block;
        text-align: left;
        color: white;
        font-weight: 600;
        padding: 0 30px;
        margin-bottom: 10px;
    }
}