.notifications {
    position: relative;
}

.content {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    padding: 100px 0;
    width: var(--width);
    padding-bottom: 100px;
}

.notifications_unread {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e45555;
}

.notifications_unread span {
    margin: 0 20px;
}

.notifications_unread::before,
.notifications_unread::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #e45555;
    border-radius: 100px;
}

.notifications_unread::before {
    width: 20%;
}

.notifications_date {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 15px;
}

.new {
    margin-bottom: 150px;
}

.notifications_item {
    position: relative;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    transition: .3s;
}

.notifications_item:hover {
    background-color: #f0f0f0;
}

.notifications_item_avatar {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    width: 50px;
    border-radius: 100%;
}

.notifications_item_names {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translate(0, -50%);
    width: 150px;
}

.notifications_item_names h1 {
    font-size: 1em;
    font-weight: 600;
}

.notifications_item_names p {
    font-size: 0.7em;
    font-weight: 600;
    opacity: .5;
}

.notifications_item_action {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    width: 200px;
    max-height: 80vh;
    text-align: right;
}

.notifications_item_action p {
    font-size: 0.8em;
    font-weight: 600;
    opacity: .5;
}

.notifications_item_action span {
    display: block;
    font-size: 0.8em;
    opacity: .7;
}

.notifications_item_action a {
    font-weight: 600;
    color: var(--color);
    text-decoration: underline;
}