.content {
    margin-top: 100px;
}

.profile {
    position: relative;
    top: 150px;
    left: 50%;
    width: 1200px;
    text-align: center;
    transform: translate(-50%);
}

.avatar {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
    display: block;
    width: 150px;
    height: 150px;
    padding: 12px;
    border: solid 2px #f8f8f8;
    border-bottom-color: transparent;
    border-radius: 50%;
}

.company {
    font-size: 2em;
    font-weight: 600;
}

.category {
    padding-bottom: 100px;
    display: block;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 600;
    opacity: .4;
}

.tabs {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0px;
    width: 1400px;
    /* right: 0; */
    left: 50%;
    transform: translate(-50%);
    height: 70px;
    transition: .3s;
}


.tabs a {
    padding: 0 12px;
    font-weight: 600;
    font-size: 0.8em;
    color: var(--color);
    opacity: .6;
    z-index: 1;
    transition: .3s;
}

.tabs a:nth-child(1) {
    padding-left: 0 !important;
}

.tabs a:hover {
    opacity: 1;
}

.tabs_website {
    padding: 7px 12px !important;
    background-color: black;
    color: white !important;
    display: inline-block;
}

.tabs hr {
    display: block;
    opacity: 0;
}