/* 
MAIN COLORS (DARK)
21,23,29 - BACKGROUND
36,40,52 - MINI BACKGROUND
80,85,100 - BUTTON
118,121,136 - FONT

MAIN COLORS (LIGHT)
241,239.239 - BACKGROUND
230,230,230 - MINI BACKGROUND
224,224,224 - BUTTON
0,0,0 - FONT
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(21,23,29 );
}

.navbar {
    background-color: #242834;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    z-index: 1;
}

#navbar-padding {
    padding: 20px 50px;
}

.navbar-right {
    display: inline-block;
    float: right;
    color: #585c6b;
    cursor: pointer;
}

.navbar-right i {
    padding: 0px 5px;
}

.navbar-right i:hover {
    color: white;
}

#navbar-logo {
    display: inline-block;
    margin: 0;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    text-transform: lowercase;
}