:root {
  --color: #1a1a1a;
  --background: #f8f8f8;
  --theme-a: #63a4ad;
  --theme-b: #4f60bb
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  font-family: Montserrat, sans-serif
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--theme-b)
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: 400
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  font-family: Montserrat, sans-serif
}

button,
input,
textarea {
  outline: 0;
  margin: 0;
  padding: 0;
  border: none;
  font-family: Montserrat, sans-serif;
  resize: none
}

::-webkit-scrollbar {
  width: 15px;
  height: 7px
}

::-webkit-scrollbar-track {
  background-color: var(--background)
}

::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border: solid 5px var(--background);
  border-radius: 100px
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e7e7e7
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  margin: 50px;
  padding: 12px 16px;
  color: #1b1e21;
  background-color: #d6d8d9;
  width: 300px;
  font-size: 14px;
  border-radius: 5px;
  border: solid 1px #c6c8ca
}

.alert strong {
  font-weight: 600
}

.alert a {
  color: inherit;
  text-decoration: underline;
  opacity: .9
}

.alert-info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 7%;
  height: 100%;
  background: linear-gradient(to bottom, var(--theme-a), var(--theme-b));
  color: #fff;
  z-index: 1
}

.navigation-icon {
  position: relative;
  width: 35px;
  height: 50px;
  display: block;
  top: 5%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer
}

.navigation-icon span {
  position: relative;
  margin-bottom: 7px;
  display: block;
  background-color: #fff;
  height: 3px;
  border-radius: 5px
}

.navigation-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center
}

.navigation-content a {
  display: block;
  width: 100%;
  height: 30px;
  margin: 30px 0;
  text-align: center
}

.navigation-content img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
  opacity: .6;
  transition: .3s
}

.navigation-content a:hover img {
  opacity: .8;
  transform: scale(1.1)
}

.profile {
  position: relative;
  display: block;
  left: 65%;
  top: 0;
  margin-top: 10%;
  margin-bottom: 10%;
  transform: translate(0, 0);
  width: 20%;
  height: 500px;
  z-index: 1;
  transition: 1s
}

.profile-avatar {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--background);
  margin-bottom: 10px
}

.profile-badge {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 25px;
  height: 25px;
  background-color: var(--background);
  padding: 14px;
  border-radius: 50%
}

.profile-fullName {
  font-size: 20px;
  font-weight: 600;
  color: #585866
}

.profile-username {
  font-size: 13px;
  opacity: .8;
  margin-bottom: 15px
}

.profile-bio {
  font-size: 15px;
  color: #9099a4;
  margin-bottom: 10px
}

.profile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px
}

.profile-list li {
  font-size: 14px;
  color: #585866;
  margin-bottom: 5px
}

.profile-list i {
  display: inline-block;
  width: 20px;
  text-align: left
}

.profile-list span {
  opacity: .8
}

.profile-interaction-follow,
.profile-interaction-message {
  padding: 7px 20px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 100px;
  margin-right: 10px;
  cursor: pointer
}

.profile-interaction-follow {
  background: linear-gradient(to right, var(--theme-a), var(--theme-b));
  color: #fff
}

.profile-interaction-message {
  color: var(--color);
  background-color: #ebebeb
}

.profile-right {
  position: fixed;
  left: 60%;
  top: 10%;
  width: 30%;
  opacity: 0;
  transition: .3s;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px
}

.profile-right-avatar {
  position: relative;
  top: 50%;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--background)
}

.profile-right-basic {
  position: absolute;
  left: 150px;
  top: 50%;
  transform: translate(0, -50%)
}

.profile-right-fullName {
  font-size: 20px;
  font-weight: 600
}

.profile-right-username {
  font-size: 13px;
  margin-bottom: 10px;
  opacity: .5
}

.profile-right-basic button {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 600;
  margin-right: 5px;
  z-index: 1;
  cursor: pointer
}

.profile-right-followToggle {
  color: #fff;
  background: linear-gradient(to right, var(--theme-a), var(--theme-b))
}

.profile-right-message {
  color: var(--color);
  background-color: var(--background)
}

.lr-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  height: 100%;
  background: url(https://sike.uno/images/cdn/svg-background/background.svg), linear-gradient(to bottom right, var(--theme-a), var(--theme-b));
  background-size: 300%;
  background-repeat: no-repeat;
  color: #fff
}

.lr-sidebar-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-size: 50px;
  font-weight: 600
}

.lr-sidebar-heading span {
  display: block;
  font-size: 30px;
  font-weight: 400
}

.lr {
  position: absolute;
  top: 0;
  left: 45%;
  width: 55%;
  height: 100%;
  overflow-y: auto
}

.lr-content {
  position: absolute;
  top: 50%;
  margin-bottom: 20%;
  width: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.lr-form {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 60%
}

.lr-form input {
  background-color: #f1f1f1;
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 15px 30px;
  width: 80%;
  border-radius: 100px;
  color: var(--color);
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 10px;
  transition: .3s
}

.lr-form input::placeholder {
  color: #666;
  font-weight: 600;
  text-transform: capitalize
}

.lr-form input:invalid {
  color: #bdbdbd
}

.lr-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 50px
}

.lr-signin input {
  display: inline-block;
  margin: 0;
  left: 0;
  transform: none;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(to right, var(--theme-a), var(--theme-b))!important;
  padding: 12px 60px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .205);
  text-transform: uppercase;
  font-weight: 600;
  border: solid 5px rgba(255, 255, 255, .253);
  border-left: none;
  border-right: none
}

.lr-signin a {
  display: block;
  margin-left: 20px;
  font-size: 14px
}

.lr-signup {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
  font-size: 12px
}

.lr-signup span {
  background-color: #ddd;
  margin-left: 10px;
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px
}

.pt {
  font-size: 12px
}

.pt input[type=checkbox] {
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom right, var(--theme-a), var(--theme-b));
  color: #fff
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Montserrat-Regular.ttf)
}