.feed {
    position: relative;
    margin: 50px 0 150px 30px;
    width: 600px;
}

.post {
    background-color: white;
    position: relative;
    display: block;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 12px rgba(163, 163, 163, 0.178);
    margin-bottom: 50px;
    opacity: .8;
    transition: .3s;
}

[data-theme="dark"] .post {
    background-color: #18181a;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.39);
}

.post:nth-last-child(1) {
    margin-bottom: 0;
}

.post:hover {
    transform: scale(1.010);
    opacity: 1;
}

.heading {
    position: relative;
    display: block;
}

.heading_author {
    display: flex;
    align-items: center;
    color: var(--color);
}

.heading_author_avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.heading_author_badge {
    width: 20px;
    height: 20px;
}

.heading_author section {
    margin-left: 5px;
}

.heading_author_name {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1em;
}

.heading_author_username {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7em;
}

[data-theme="dark"] .heading_author_username {
    color: rgba(255, 255, 255, 0.5);
}

.heading_more {
    position: absolute;
    top: 5%;
    height: 20px;
    cursor: pointer;
    right: 0;
    transform: translate(0, -50%);
    background-color: transparent;
    margin-right: 15px;
    display: none;
}

.heading_ellipsis {
    display: inline-flex;
}

.heading_ellipsis,
.heading_ellipsis::before,
.heading_ellipsis::after {
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50%;
}

.heading_ellipsis::before,
.heading_ellipsis::after {
    content: "";
    position: absolute;
}

.heading_ellipsis::before {
    left: -7px;
}

.heading_ellipsis::after {
    right: -7px;
}

.content {
    margin: 20px 0 0;
}

.caption p {
    color: rgba(0, 0, 0, .7);
    line-height: 20px;
    font-size: 0.78em;
    margin-bottom: 10px;
}

[data-theme="dark"] .caption p {
    color: rgba(255, 255, 255, 0.7);
}

.media {
    margin-top: 20px;
}

.media img {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 15px;
}

.interaction {
    padding-top: 15px;
    margin-top: 5px;
    border-top: solid 1px rgba(0, 0, 0, 0);
}


.interaction a,
.interaction button {
    font-size: 0.7em;
    position: relative;
    display: inline-flex;
    align-items: center;
    min-width: 40px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: .3s;
}

[data-theme="dark"] .interaction a,
[data-theme="dark"] .interaction button {
    color: rgba(255, 255, 255, 0.5);
}

.interaction img {
    width: 20px;
    margin-right: 5px;
    opacity: .5;
    transition: .3s;
}

[data-theme="dark"] .interaction img {
    filter: invert(100%);
}

.interaction a:hover,
.interaction button:hover {
    color: rgba(0, 0, 0, 0.8);
}

[data-theme="dark"] .interaction a:hover,
[data-theme="dark"] .interaction button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.interaction a:hover img,
.interaction button:hover img {
    opacity: .8;
}


.interaction span {
    font-weight: 600;
}

.post_add_comment {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.post_add_comment_avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 15px;
}

.post_add_comment_form {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 100px;
    cursor: text;
}

[data-theme="dark"] .post_add_comment_form {
    background-color: #131212;
}

.post_add_comment_form input[type="text"] {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    min-width: 80%;
    background-color: transparent;
    padding-left: 15px;
    font-size: 0.7em;
}

[data-theme="dark"] .post_add_comment_form input[type="text"] {
    color: white;
}

.post_add_comment_form input[type="text"]::placeholder {
    color: rgba(0, 0, 0, .5);
}

[data-theme="dark"] .post_add_comment_form input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.336);
}

.post_add_comment_interaction {
    position: absolute;
    display: flex;
    align-items: center;
    float: right;
    top: 50%;
    padding-right: 15px;
    right: 0;
    transform: translate(0, -50%);
    max-width: 20%;
}


.post_add_comment_interaction img {
    width: 20px;
    height: 20px;
    opacity: .4;
}

[data-theme="dark"] .post_add_comment_interaction img {
    filter: invert(100%);
}

.post_add_comment_interaction label {
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.post_add_comment_interaction input {
    display: none;
}

.timeStamp {
    position: absolute;
    top: 100%;
    left: 30px;
    margin: 5px 0;
    font-size: 0.7em;
    opacity: .8;
}

.right,
.left {
    position: absolute;
    top: 0;
    margin: 0 30px 100px;
    width: 280px;
}

.right {
    left: 100%;
}

.left {
    right: 100%;
}

.card {
    width: 100%;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 12px rgba(163, 163, 163, 0.116);
    border-radius: 15px;
    margin-bottom: 30px;
    opacity: .8;
    transition: .3s;
}

.card:hover {
    transform: scale(1.010);
    opacity: 1;
}

[data-theme="dark"] .card {
    background-color: #18181a;
    box-shadow: none;
}

.card_title {
    font-size: 1em;
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
    padding: 30px 30px 15px;
}

[data-theme="dark"] .card_title {
    color: rgba(255, 255, 255, 0.8);
}

.card_content {
    padding: 0 0 30px;
}

.card_profile {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color);
    padding: 12px 30px;
    z-index: 1;
}

.card_avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transition: .3s;
}

.card_user {
    margin-left: 5px;
}

.card_name {
    display: flex;
    align-items: center;
    width: 160px;
    font-size: 0.9em;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card_badge {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.card_username {
    font-weight: 600;
    font-size: 0.690em;
    color: rgba(0, 0, 0, .5);
}

[data-theme="dark"] .card_username {
    color: rgba(163, 163, 163, 0.5);
}

.card_tag {
    position: relative;
    display: block;
    padding: 0 30px;
    margin-bottom: 20px;
}

.card_tag:nth-last-child(1) {
    margin-bottom: 0;
}

.card_tag_count {
    font-size: 0.7em;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgba(0, 0, 0, .5);
}

[data-theme="dark"] .card_tag_count {
    color: rgba(163, 163, 163, 0.5);
}

.card_tag_count span {
    margin-right: 5px;
}

.card_tag_item {
    font-size: 1em;
    font-weight: 600;
    color: var(--color);
}

.card_tag_item::before {
    content: "#";
}

.card_news {
    position: relative;
    display: block;
    padding: 0 30px;
    margin-bottom: 15px;
    opacity: .4;
    transition: .3s;
}

.card_news:nth-last-child(1) {
    margin-bottom: -5px;
}

.card:hover .card_news {
    opacity: .5;
}

.card_news:hover {
    opacity: 1 !important;
}

.card_news_title {
    font-size: 0.8em;
    font-weight: 600;
    color: var(--color);
}