.content {
    position: relative;
    left: 50%;
    width: 600px;
    transform: translate(-50%);
    margin: 100px 0 150px 30px;
}

.widget {
    position: relative;
    width: 100%;
    height: 50px;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    border-radius: 100px;
}