.explore {
    margin-left: 150px;
}

.content {
    margin: 100px 0;
}

.title {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 1.2em;
    opacity: .8;
}

.subtitle {
    font-size: 1.7em;
    opacity: .8;
}

.bracket {
    border: none;
    background: linear-gradient(to right, var(--theme-a), var(--theme-b));
    display: block;
    height: 5px;
    margin: 30px 0 -25px;
    border-radius: 100px 0 0 100px;
    opacity: .1;
}

.header {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background: url(../../../../public/images/svg/background.svg) no-repeat, radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    background-size: 100%;
    background-position: bottom;
    border-bottom-left-radius: 50px;
    color: white;
}

.header_search {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_search input[type="search"] {
    display: block;
    height: 60px;
    width: 500px;
    padding: 0 65px 0 60px;
    font-size: 1.1em;
    border-radius: 100px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.123);
    background-color: rgba(255, 255, 255, 0.8);
    transition: .3s;

    background-repeat: no-repeat;
    background-position: 25px 50%;
    background-size: 25px;
    background-image: url(https://cdn.discordapp.com/attachments/667293886468718592/734609486307786862/search.png);
}

.header_search input[type="search"]:focus {
    width: 600px;
    background-color: rgba(255, 255, 255, 0.9);
}

.header_search input[type="submit"] {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: -55px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    transform: scale(0.8);
}

.business {
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    height: 350px;
}

.business::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.815));
}

.business_creators_more {
    position: absolute;
    top: 50%;
    right: 50px;
    width: 100px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.business_creators_more span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    border-radius: 100px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    background: linear-gradient(to bottom right, var(--theme-a), var(--theme-b));
}

.business_creators_more img {
    transform: rotate(180deg);
    filter: invert(100%);
    margin-left: 3px;
}

.business_card {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 300px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-right: 25px;
    color: var(--color);
    transition: .3s;
}

.business_profile {
    position: relative;
    top: 50px;
    width: 80%;
    margin: 0 auto;
    height: 100px;
}

.business_profile img {
    width: 100px;
    height: 100%;
    border-radius: 100%;
}

.business_name {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 60px;
    font-size: 20px;
    font-weight: 600;
}

.business_name img {
    width: 30px;
    height: 30px;
}

.business_message {
    position: relative;
    white-space: normal;
    margin: 0px auto 0;
    width: 80%;
    font-size: 14px;
    height: 130px;
    overflow-y: auto;
}

.business_goto {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    cursor: default;
    opacity: 0;
    background: url(../../../../public/images/svg/background.svg) no-repeat, linear-gradient(to bottom right, rgba(255, 110, 32, 0.8), rgba(255, 0, 102, 0.8));
    background-size: 200%;
    background-position: bottom;
    backdrop-filter: blur(3px);
    transition: .3s;
}

.business_goto span {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 80%;
    max-height: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    color: var(--color);
}

.business_goto span:hover {
    filter: invert(100%);
    opacity: .5;
}

.business_goto hr {
    display: none;
}

.business_card:hover .business_goto {
    opacity: 1;
}

.row {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
}

.trending_item {
    position: relative;
    font-size: 14px;
    background-color: #fafafa;
    border: solid 1px #dedede;
    border-radius: 5px;
    grid-column-end: span 3;
    grid-row-end: span 3;
    transition: .3s;
}

.row .trending_item:nth-child(7n+0) {
    grid-column-end: span 4;
    grid-row-end: span 4;
    background-color: saddlebrown;
}

.trending_item::after {
    content: "View Post";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 1;
    color: white;
    transition: .8s;
    font-weight: 600;
}

.trending_item:hover::after {
    opacity: 1;
}

.trending_profile {
    display: flex;
    align-items: center;
    padding: 1em;
}

.trending_avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.trending_profile_names {
    margin-left: 15px;
    color: var(--color);
}

.trending_profile_names h1 {
    font-size: 1.2em;
    font-weight: 600;
}

.trending_profile_names p {
    font-weight: 0.8em;
    opacity: .6;
    font-weight: 600;
}

.trending_caption {
    margin-top: -1em;
    padding: 1em;
    color: var(--color);
}

@media only screen and (max-width:1400px) {
    .explore {
        margin-left: 150px;
    }
}

@media only screen and (max-width:1200px) {
    .explore {
        margin-left: 130px;
    }
}

@media only screen and (max-width:1000px) {
    .explore {
        display: none;
    }
}