.content {
    position: relative;
    top: 0;
    left: 200px;
    margin: 100px;
    margin-bottom: 100px;
    width: 900px;
    /* 750 WIDTH FOR 80% */
    height: 50%;
    color: var(--color);
}

.additional_information {
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    right: 100px;
    width: 500px;
    /* 400 WIDTH FOR 80% */
    height: 100%;
}

.profile_images {
    width: 150px;
    height: 150px;
}

.avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.badge {
    position: absolute;
    top: 0;
    left: 0;
    margin: 100px;
    width: 50px;
    height: 50px;
    z-index: 1;
}

.names {
    position: absolute;
    top: 0;
    left: 200px;
    height: 150px;
    width: 400px;
}

.names_content, 
.names_content_staff {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.names_content h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.names_content p,
.names_content_staff p {
    font-size: 16px;
    font-weight: 600;
    opacity: .5;
}

.names_content img,
.names_content_staff img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.names_content_staff h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    animation: rainbow 12s infinite;
}

@keyframes rainbow {
    0% {
        color: #ED1A3B;
    }
    15% {
        color: #F78022;
    }
    30% {
        color: #e4da24;
    }
    50% {
        color: #0DB14B;
    }
    
    75% {
        color: #005BAA;
    }
    80% {
        color: #922791;
    }

    100% {
        color: #ED1A3B;
    }
}

.statistics {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.statistics a {
    width: 40%;
    text-align: center;
    color: var(--color);
}

.statistics span {
    font-weight: 600;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

.statistics h3 {
    font-weight: normal;
    font-size: 16px;
    opacity: .5;
}

.bio {
    color: var(--color);
    width: 70%;
    margin-top: 50px;
}

.bio a,
.profile_description a {
    font-weight: 600;
}

.bio p {
    font-size: 20px;
}

.interaction {
    margin-top: 30px;
}

.interaction a {
    cursor: pointer;
}

.rewards_account {
    border-radius: 5px;
    display: block;
    text-align: center;
    background-color: #15181a;
    color: white;
    padding: 20px 0;
    margin-top: 15px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
    /* transition: .3s; */
    border: solid 2px transparent
}

.insights_account {
    margin-top: 30px;
    text-align: center;
    display: block;
    color: white;
    padding: 20px 0;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: solid 2px var(--color);
    border-radius: 5px;
    opacity: .3;
    font-weight: 600;
    transition: .3s;
}

.insights_account:hover {
    background-color: var(--color);
    color: var(--background);
}

.follow_account {
    border-radius: 5px;
    display: block;
    text-align: center;
    background: linear-gradient(to right, var(--theme-a),var(--theme-b));
    color: white;
    padding: 20px 1px;
    margin-bottom: 10px;
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
}

.follow_account:hover {
    cursor: pointer;
}

.interaction strong {
    font-weight: 600;
    font-size: 16px;
}




.mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    min-height: 100px;
    padding-bottom: 40px;
    width: 80%;
}

.mobile_profile_navigation {
    position: relative;
    height: 65px;
    margin-top: 5%;
}

.mobile_profile_username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    opacity: .5;
    font-weight: 600;
}

.mobile_profile_navigation a,
.mobile_profile_navigation button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 17px;
    height: 17px;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: 100%;
}

.mobile_page_explore {
    left: 0;
    background-position: 0 50%;
    background-image: url(../../../../public/icons/arrows/chevron-left.png);
}

.mobile_page_settings {
    right: 0;
    background-position: 100% 50%;
    background-image: url(../../../../public/icons/menus/hamburger.png);
}

.mobile_images {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

.mobile_avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 45px;
}

.mobile_statistics {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.mobile_statistics a {
    width: 100%;
    margin-right: 50px;
    color: var(--color);
    text-align: center;
}

.mobile_statistics a:nth-last-child(1) {
    margin-right: 0;
}

.mobile_statistics span {
    font-size: 18px;
}

.mobile_statistics h3 {
    font-size: 13px;
    opacity: .5;
}

.mobile_information {
    margin-top: 20px;
}

.mobile_profile_information {
    margin-top: 10px;
}

.profile_name {
    font-size: 18px;
    font-weight: 600;
}

.profile_description p {
    font-size: 12px;
}

.mobile_interactions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 40px;
}

.mobile_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 45px;
    /* margin: 0 auto; */
    background-color: #fafafa;
    border-radius: 100px;
    margin-bottom: 50px;
}

.mobile_filter a {
    width: 250px;
    height: 100%;
    display: block;
    background-color: transparent;
    margin: 0 5px;

    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.mobile_filter span {
    display: block;
    margin-top: 40px;
}

.mobile_filter_profile {
    background-image: url(../../../../public/icons/user/account.png);
}

.mobile_filter_shares {
    background-image: url(../../../../public/icons/arrows/share.png);
}

.mobile_filter_connections {
    background-image: url(../../../../public/icons/connections.png);
}

.mobile_filter_media {
    background-image: url(../../../../public/icons/gallery.png);
}

.mobile_lightshot {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 10;
}


@media only screen and (max-width:1800px) {
    .content {
        left: 200px;
        width: 750px;
    }

    .additional_information {
        right: 0;
        width: 400px;
    }

    .bio {
        margin-top: 15px;
    }

    .bio p {
        font-size: 15px;
    }

    .profile_images {
        width: 100px;
        height: 100px;
    }

    .names {
        height: 100px;
        left: 120px;
    }

    .names_content h1,
    .names_content_staff h1 {
        font-size: 20px;
    }

    .names_content p,
    .names_content_staff p {
        font-size: 12px;
    }
}

@media only screen and (max-width:1400px) {
    .content {
        width: 600px;
        margin-left: 50px;
    }

    .suggested {
        width: 300px;
    }

    .bio {
        margin-top: 20px;
    }

    .bio p {
        font-size: 12px;
    }

    .profile_images {
        width: 80px;
        height: 80px;
    }

    .names {
        left: 95px;
        width: 350px;
        height: 80px;
    }

    .names_content h1,
    .names_content_staff h1 {
        font-size: 18px;
    }

    .names_content p,
    .names_content_staff p {
        font-size: 10px;
    }

    .names_content img,
    .names_content_staff img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .follow_account,
    .insights_account,
    .rewards_account {
        font-size: 14px;
        padding: 12px 0;
        width: 60%;
    }
}

@media only screen and (max-width:1200px) {
    .content {
        width: 440px;
        margin-left: -50px;
        height: 100%;
        margin-bottom: 80px;
    }

    .suggested {
        width: 270px;
    }

    .names {
        left: 0;
        top: 120px;
        height: auto;
    }

    .profile_images {
        width: 100px;
        height: 100px;
    }

    .badge {
        margin: 65px;
        width: 40px;
        height: 40px;
    }

    .names_content,
    .names_content_staff {
        top: 0;
        transform: none;
    }

    .names_content h1,
    .names_content_staff h1 {
        font-size: 20px;
    }

    .names_content p,
    .names_content_staff p {
        font-size: 14px;
    }

    .bio {
        width: 100%;
        margin-top: 80px;
    }

    .follow_account,
    .insights_account,
    .rewards_account {
        font-size: 12px;
        padding: 10px 0;
        width: 60%;
        font-weight: normal;
    }
}

@media only screen and (max-width:1000px) {
    .content,
    .additional_information {
        display: none;
    }

    .mobile,
    .mobile_lightshot {
        display: block;
    }

    .follow_account,
    .mobile_messageUser {
        margin: 0;
        padding: 10px 0;
        font-size: 10px;
        width: 100%;
        margin-left: 5px;
        left: 0;
        transform: none;
        text-align: center;
        font-weight: 600;
        border-radius: 5px;
        background: #fcfcfc;
        color: #515151;
        border: solid 1px #e9e9e9;
    }

    .follow_account {
        background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
        color: white;
        border-color: transparent;
        margin-left: 0;
    }
}

@media only screen and (max-width: 350px) {
    .mobile_avatar {
        margin-right: 30px;
    }

    .mobile_statistics a {
        margin-right: 25px;
    }
}