.content,
.single_content {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
}

.single_content {
    margin-left: -200px;
    width: 800px;
}

.profile {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 150px 0 70px 30px;
    margin-left: -20px;
    width: 600px;
}

.information {
    position: relative;
}

.avatar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
}

.avatar_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    /* margin-top: -0.5px; */
    margin-left: 0.5px;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--background);
}

.interactions {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
}

.follow_account {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px !important;
    height: 40px;
    padding: 0 40px;
    border-radius: 100px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 0.8em;
    cursor: pointer;
    color: white !important;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    transition: .3s;
}

.follow_account::before {
    display: none !important;
}

.message_user {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 40px;
    width: 40px;
    font-size: 0.8em;
    font-weight: 600;
    color: var(--color);
    border-radius: 100px;
    background-color: #dfdfdf;
    z-index: 1;
}

[data-theme='dark'] .message_user {
    background-color: #212124;
}

.message_user img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

[data-theme='dark'] .message_user img {
    filter: invert(100%);
}

.message_user span {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    color: var(--color);
    margin: 0 10px;
    opacity: 0;
    transition: .3s;
}

.message_user:hover span {
    opacity: .5;
}

.about {
    margin-top: 10px;
}

.right,
.left {
    position: absolute;
    top: 0;
    margin: 0 70px 100px;
    width: 280px;
}

.right {
    left: 100%;
    margin-left: 40px;
}

.left {
    right: 100%;
}

.card {
    width: 100%;
    margin-bottom: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    transition: .3s;
}

.card_title {
    font-size: 0.9em;
    font-weight: 600;
    color: rgba(0, 0, 0, .8);
    padding: 0px 30px 15px;
}

.card_title:nth-child(1) {
    padding-top: 30px;
}

[data-theme="dark"] .card_title {
    color: rgba(255, 255, 255, 0.8);
}

.card_content {
    padding: 0 0 30px;
}

.name {
    font-size: 1.3em;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.badge {
    position: absolute;
    top: 50%;
    left: 150px;
    transform: translate(0, -50%);
    display: inline-block;
    display: flex;
    align-items: center;
}

.badge div {
    position: relative;
    width: 32px;
    height: 32px;
}

.badge img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    background: transparent !important;
    border-radius: 0;
}

.verified {
    margin-right: 10px;
}

.verified img {
    width: 50px;
}

.badge span,
.overlay_profile_interaction span {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
    font-size: 0.7em;
    transform: translate(-50%);
    background-color: #1e1f22;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    color: #c7c7c7;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    display: none;
    animation: badge .3s;
}

[data-theme="dark_purple"] .badge span,
[data-theme="dark_purple"] .overlay_profile_interaction span {
    background-color: #0f0e1e;
}

.badge span::before,
.overlay_profile_interaction span::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #1e1f22 transparent transparent transparent;
}

[data-theme="dark_purple"] .badge span::before,
[data-theme="dark_purple"] .overlay_profile_interaction span::before {
    border-color: #0f0e1e transparent transparent transparent;
}

.badge div:hover span {
    display: block;
}

@keyframes badge {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.username {
    font-size: 0.7em;
    font-weight: 600;
    opacity: .4;
    margin-bottom: 15px;
}

.description {
    font-size: 0.9em;
}

.statistics {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: url(/images/svg/background.svg) no-repeat, radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    background-position: bottom;
    background-size: 170%;
}

.statistics::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    filter: blur(7px);
    opacity: .6;
}

.statistics a {
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 30px;
}

.statistics span {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.statistics h3 {
    font-size: 0.9em;
    font-weight: 600;
    opacity: .5;
}

.filter {
    padding: 30px 30px 0;
}

.filter button,
.filter a {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-size: 0.8em;
    text-align: left;
    cursor: pointer;
    transition: .3s;
}

.filter button::before,
.filter a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
    padding: 0 15px;
    width: 0;
    height: 100%;
    border-radius: 100px;
    opacity: 0;
    /* background: linear-gradient(to bottom, var(--theme-a), var(--theme-b)); */
    background-color: var(--color);
    transition: .3s;
}

[data-theme="dark_purple"] .filter button,
[data-theme="dark_purple"] .filter a,
[data-theme='dark'] .filter button,
[data-theme='dark'] .filter a {
    color: rgba(255, 255, 255, 0.5);
}

.filter hr {
    background-color: var(--color);
    border: none;
    position: relative;
    height: 3px;
    width: 100%;
    border-radius: 100px;
    opacity: .2;
}

.filter img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 50%;
    opacity: .7;
    transition: .3s;
}

.filter span {
    position: absolute;
    left: 100%;
    margin-left: 30px;
}


[data-theme="dark_purple"] .filter img,
[data-theme='dark'] .filter img {
    filter: invert(100%);
}

.filter button:hover::before,
.filter a:hover::before {
    width: 100%;
    opacity: .1;
}

.mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    min-height: 100px;
    padding-bottom: 40px;
    width: 80%;
}

.mobile_profile_navigation {
    position: relative;
    height: 65px;
    margin-top: 5%;
}

.mobile_profile_username {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    opacity: .5;
    font-weight: 600;
}

.mobile_profile_navigation a,
.mobile_profile_navigation button {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 17px;
    height: 17px;
    background-color: transparent;

    background-repeat: no-repeat;
    background-size: 100%;
}

.mobile_page_explore {
    left: 0;
    background-position: 0 50%;
    background-image: url(../../../../public/icons/arrows/chevron-left.png);
}

.mobile_page_settings {
    right: 0;
    background-position: 100% 50%;
    background-image: url(../../../../public/icons/menus/hamburger.png);
}

[data-theme="dark_purple"] .mobile_page_explore,
[data-theme="dark_purple"] .mobile_page_settings,
[data-theme="dark"] .mobile_page_explore,
[data-theme="dark"] .mobile_page_settings {
    filter: invert(100%);
}

.mobile_images {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
}

.mobile_avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 45px;
}

.mobile_statistics {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.mobile_statistics a {
    width: 100%;
    margin-right: 50px;
    color: var(--color);
    text-align: center;
}

.mobile_statistics a:nth-last-child(1) {
    margin-right: 0;
}

.mobile_statistics span {
    font-size: 18px;
}

.mobile_statistics h3 {
    font-size: 13px;
    opacity: .5;
}

.mobile_information {
    margin-top: 20px;
}

.mobile_profile_information {
    margin-top: 10px;
}

.profile_name {
    font-size: 18px;
    font-weight: 600;
}

.profile_description p {
    font-size: 12px;
}

.mobile_interactions {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.mobile_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: 45px;
    /* margin: 0 auto; */
    background-color: #fafafa;
    border-radius: 100px;
    margin-bottom: 50px;
}

[data-theme="dark_purple"] .mobile_filter,
[data-theme="dark"] .mobile_filter {
    background-color: rgba(0, 0, 0, .1);
}

.mobile_filter a {
    width: 250px;
    height: 100%;
    display: block;
    background-color: transparent;
    margin: 0 5px;

    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

.mobile_filter span {
    display: block;
    margin-top: 40px;
}

.mobile_filter_profile {
    background-image: url(../../../../public/icons/user/account.png);
}

.mobile_filter_shares {
    background-image: url(../../../../public/icons/arrows/share.png);
}

.mobile_filter_connections {
    background-image: url(../../../../public/icons/connections.png);
}

.mobile_filter_media {
    background-image: url(../../../../public/icons/menus/collage.png);
}

[data-theme="dark_purple"] .mobile_filter_profile,
[data-theme="dark_purple"] .mobile_filter_shares,
[data-theme="dark_purple"] .mobile_filter_connections,
[data-theme="dark_purple"] .mobile_filter_media,
[data-theme="dark"] .mobile_filter_profile,
[data-theme="dark"] .mobile_filter_shares,
[data-theme="dark"] .mobile_filter_connections,
[data-theme="dark"] .mobile_filter_media {
    filter: invert(100%);
}

.mobile_lightshot {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 10;
}

.single_interaction {
    margin-top: 120px;
}

.single {
    background-color: white;
    position: relative;
    top: 150px;
    display: block;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 2px 2px 12px rgba(163, 163, 163, 0.178);
    margin-bottom: 50px;
    margin-bottom: 100px;
    opacity: .8;
    transition: .3s;
}

[data-theme="dark"] .single {
    background-color: #18181a;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

[data-theme="dark_purple"] .single {
    background-color: #221f2f;
    box-shadow: 2px 2px 12px rgba(23, 21, 31, 0.3);
}

.single_author {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.single_author_avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.single_author section {
    margin-left: 20px;
}

.single_author_name {
    font-size: 1.2em;
    font-weight: 600;
    opacity: .8;
}

.single_author_username {
    font-size: 0.8em;
    font-weight: 600;
    opacity: .4;
}

.single_caption p {
    font-size: 0.9em;
}

.single_caption a {
    font-weight: 600;
}

.single_caption a:hover {
    text-decoration: underline;
}

.single_media {
    margin-top: 30px;
}

.single_media img {
    width: 100%;
    border-radius: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: 20;
}

[data-theme='dark'] .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

[data-theme='dark_purple'] .overlay {
    background-color: rgb(15, 14, 30, 0.5);
}

.noscroll {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    overflow: hidden;
}

.overlay_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70vh;
    width: 400px;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(163, 163, 163, 0.178);
    z-index: 21;
}

[data-theme='dark'] .overlay_content {
    background-color: #18181a;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.39);
}

[data-theme='dark_purple'] .overlay_content {
    background-color: #110f18;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.39);
}

.overlay_title {
    position: relative;
    margin: 20px 20px 50px;
}

.overlay_title h1 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    font-size: 1em;
    font-weight: 600;
}

.overlay_title span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-weight: 600;
    font-size: 0.8em;
}

.overlay_likes {
    position: relative;
    height: 97.3%;
    overflow: auto;
}

.overlay_likes::-webkit-scrollbar {
    background-color: white;
}

.overlay_likes::-webkit-slider-thumb {
    border-color: white;
}

.overlay_profile_item {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 12px 20px;
    transition: .3s;
}

.overlay_profile_item:hover {
    background-color: #f8f8f8;
}

[data-theme='dark'] .overlay_profile_item:hover {
    background-color: #1e1f22;
}

[data-theme='dark_purple'] .overlay_profile_item:hover {
    background-color: #221f2f;
}

.overlay_profile_avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.overlay_profile_user {
    margin-left: 10px;
}

.overlay_profile_name {
    font-size: 1em;
    font-weight: 600;
    opacity: .7;
}

.overlay_profile_username {
    font-size: 0.8em;
    font-weight: 600;
    opacity: .3;
}

.overlay_profile_interaction {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
}

.overlay_profile_interaction button,
.overlay_profile_interaction a {
    display: block;
    position: relative;
    margin-left: 5px;
    background-color: #e6e6e6;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

[data-theme='dark'] .overlay_profile_interaction button,
[data-theme='dark'] .overlay_profile_interaction a {
    background-color: #212124;
}

[data-theme='dark_purple'] .overlay_profile_interaction button,
[data-theme='dark_purple'] .overlay_profile_interaction a {
    background-color: #1d1c30;
}

.overlay_profile_interaction img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

[data-theme='dark_purple'] .overlay_profile_interaction img,
[data-theme='dark'] .overlay_profile_interaction img {
    filter: invert(100%);
}

@media only screen and (max-width: 1500px) {
    .profile {
        width: 400px;
    }
}

@media only screen and (max-width: 1300px) {
    .profile {
        width: 300px;
    }
}

@media only screen and (max-width: 1000px) {
    .mobile {
        display: block;
    }

    .content {
        display: none;
    }

    .follow_account {
        transform: none;
    }
}

@media only screen and (max-width: 350px) {
    .mobile_avatar {
        margin-right: 30px;
    }

    .mobile_statistics a {
        margin-right: 25px;
    }
}