.content {
    padding-left: 150px;
    height: 100%;
}

.upload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: saddlebrown;
    z-index: 10;
}