.feed {
    position: relative;
    top: 0;
    left: 200px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 600px;
    color: var(--color);
}

.post {
    display: block;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 5px #15181a;
}

.post:nth-last-child(1) {
    border-bottom: none;
}

.user {
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.names {
    margin-left: 20px;
}

.names h1 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.names img {
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.names p {
    font-size: 15px;
    opacity: .3;
}

.caption {
    border-radius: 5px;
    background-color: #15181a;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 19px;
}

.content img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

.interactions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.interactions a {
    margin-right: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color);
}

.interactions img {
    filter: invert(100%);
    margin-right: 5px;
    opacity: .6;
}

.interactions span {
    opacity: .3;
}

@media only screen and (max-width:1400px) {
    .feed {
        width: 600px;
        margin-left: 50px;
    }

    .user img {
        width: 40px;
        height: 40px;
    }

    .names h1 {
        font-size: 16px;
    }

    .names img {
        width: 25px;
        height: 25px;
    }

    .names p {
        font-size: 14px;
    }

    .content {
        padding: 25px;
    }

    .content p {
        font-size: 14px;
    }

    .interactions img {
        width: 20px;
        height: 16px;
    }

    .interactions span {
        font-size: 13px;
    }
}

@media only screen and (max-width:1200px) {
    .feed {
        width: 440px;
        margin-left: 0;
    }

    .content {
        padding: 16px;
    }

    .content p {
        font-size: 12px;
    }

    .interactions img {
        width: 16px;
        height: 16px;
    }

    .interactions span {
        font-size: 11px;
    }
}

@media only screen and (max-width:1000px) {
    .feed {
        position: relative;
        margin: 100px 0 0;
        width: 85%;
        left: 50%;
        transform: translate(-50%);
    }
}