.feed {
    position: relative;
    top: 0;
    left: 300px;
    margin-left: 100px;
    margin-bottom: 100px;
    width: 700px;
    /* 600 WIDTH FOR 80% */
    color: var(--color);
}

.post {
    display: block;
    width: 100%;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: solid 5px #15181a;
    color: var(--color);
}

.post:nth-last-child(1) {
    border-bottom: none;
}

.user {
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: var(--color);
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.names {
    margin-left: 20px;
}

.names h1 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.names img {
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.names p {
    font-size: 15px;
    opacity: .3;
}

.caption {
    border-radius: 5px;
    background-color: #15181a;
}

.content {
    padding: 20px;
}

.content p {
    font-size: 19px;
    color: #dedede;
}

.content img {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
    margin-top: 15px;
}

.interactions {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.interactions a {
    margin-right: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    color: var(--color);
}

.interactions img {
    filter: invert(100%);
    margin-right: 5px;
    opacity: .6;
}

.interactions span {
    opacity: .3;
}

.comments {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 600px;
    border-left: solid 1px #15181a;
    color: var(--color);
}

.comments_title {
    padding: 30px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
}

.comment {
    padding-bottom: 40px;
    padding: 30px;
    border-bottom: solid 2px #15181a;
}

.comment:hover {
    background-color: rgba(255, 255, 255, 0.030);
    border-bottom-color: transparent;
}

.comment:nth-last-child(1) {
    border-bottom-style: none;
}

.comment_author {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
}

.comment_author img {
    width: 50px;
    display: block;
    border-radius: 50%;
    margin-right: 20px;
}

.comment_author h1 {
    font-size: 20px;
    font-weight: 600;
    opacity: .6;
}

.comment_author p {
    font-size: 15px;
    font-weight: 600;
    opacity: .3;
}

.comment_caption {
    margin-top: 20px;
}

.comment_caption p {
    font-size: 18px;
    color: #dddddd;
}

@media only screen and (max-width:1800px) {
    .feed {
        left: 200px;
        width: 600px;
    }

    .comments {
        width: 500px;
    }

    .comment_author img {
        width: 45px;
        height: 45px;
    }

    .comment_author h1 {
        font-size: 18px;
    }

    .comment_author p {
        font-size: 14px;
    }

    .comment_caption p {
        font-size: 14px;
    }
}

@media only screen and (max-width:1400px) {
    .feed {
        width: 600px;
        margin-left: 50px;
    }

    .user img {
        width: 40px;
        height: 40px;
    }

    .names h1 {
        font-size: 16px;
    }

    .names img {
        width: 25px;
        height: 25px;
    }

    .names p {
        font-size: 14px;
    }

    .content {
        padding: 25px;
    }

    .content p {
        font-size: 14px;
    }

    .interactions img {
        width: 20px;
        height: 16px;
    }

    .interactions span {
        font-size: 13px;
    }

    .comments {
        width: 400px;
    }

    .comments_title {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .comment_author img {
        width: 35px;
        height: 35px;
        margin-right: 15px;
    }

    .comment_author h1 {
        font-size: 16px;
    }

    .comment_author p {
        font-size: 12px;
    }

    .comment_caption {
        margin-top: 5px;
    }

    .comment_caption p {
        font-size: 13px;
    }
}

@media only screen and (max-width:1200px) {
    .feed {
        width: 440px;
        margin-left: 0;
    }

    .content {
        padding: 16px;
    }

    .content p {
        font-size: 12px;
    }

    .interactions img {
        width: 16px;
        height: 16px;
    }

    .interactions span {
        font-size: 11px;
    }

    .comments {
        width: 350px;
    }

    .comment {
        padding: 20px;
    }

    .comment_author img {
        width: 25px;
        height: 25px;
    }

    .comment_author h1 {
        font-size: 13px;
    }

    .comment_author p {
        font-size: 10px;
    }

    .comment_caption {
        margin-top: 0;
    }

    .comment_caption p {
        font-size: 10px;
    }
}

@media only screen and (max-width:1000px) {
    .feed {
        position: relative;
        margin: 100px 0 0;
        width: 85%;
        left: 50%;
        transform: translate(-50%);
    }
}