.content {
    position: absolute;
    top: 0;
    left: 200px;
    margin: 100px;
    margin-bottom: 200px;
    width: 750px;
    height: 100%;
    color: var(--color);
}

.suggested {
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    right: 0;
    margin-right: 1%;
    width: 400px;
    height: 94%;
    border-radius: 30px;
    display: none;
}

.upload {
    display: block;
}

.upload textarea {
    resize: none;
    width: 100%;
    background-color: transparent;
    color: var(--color);
    font-size: 30px;
    padding: 16px 30px 16px 0;
    color: black;
}

.upload textarea::placeholder {
    color: var(--color);
    opacity: .7;
}

.upload textarea::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
}

.upload input {
    display: none;
}

.upload label {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.050);
    border-radius: 50%;
    cursor: pointer;
}

.upload img {
    width: 25px;
    height: 25px;
    filter: invert(100%);
    opacity: .5;
}

@media only screen and (max-width:1400px) {
    .content {
        width: 600px;
        margin-left: 50px;
    }

    .suggested {
        width: 300px;
    }

    .upload textarea {
        font-size: 20px;
    }

    .upload label {
        width: 30px;
        height: 30px;
    }
    
    .upload img {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width:1200px) {
    .content {
        width: 440px;
        margin-left: 0;
    }

    .suggested {
        width: 270px;
    }

    .upload textarea {
        font-size: 16px;
    }

    .upload label {
        width: 25px;
        height: 25px;
    }
    
    .upload img {
        width: 15px;
        height: 15px;
    }
}