.content {
    margin-top: 70px;
}

.why_pebblo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.why_pebblo_content {
    position: absolute;
    top: 0;
    left: 0;
    margin: 170px 0 0 100px;
}

.why_pebblo_title {
    font-size: 70px;
    font-weight: 600;
}

.why_pebblo_paragraph {
    font-size: 40px;
    opacity: .5;
    width: 700px;
}

.downloadON a {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    transition: .3s;
    right: 50px;
}

.downloadON a:hover {
    transform: scale(1.1);
}

.downloadON img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(-0%,-50%);
    width: 25px;
    height: 25px;
}

.downloadON p {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(-0%,-50%);
    font-weight: 600;
    font-size: 15px;
}

.downloadON span {
    display: block;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
}

.downloadON_android {
    position: absolute;
    bottom: 50px;
    background-color: #f8f8f8;
    box-shadow: 10px 10px 17px rgba(0, 0, 0, 0.184);
    color: var(--color);
}

.downloadON_iOS {
    position: absolute;
    bottom: 120px;
    background-color: #010101;
    color: white;
}

.downloadON_iOS img {
    filter: invert(100%);
}


@media screen and (max-width: 1000px) {
    .why_pebblo_content {
        margin: 0;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
        width: 80%;
    }

    .why_pebblo_title {
        font-size: 35px;
    }

    .why_pebblo_paragraph {
        width: 100%;
        font-size: 20px;
    }

    .downloadON a {
        left: 50%;
        transform: translate(-50%);
        /* width: 50%; */
    }

    .downloadON a:hover {
        transform: translate(-50%);
        opacity: .5;
    }

    .downloadON_android {
        bottom: 180px;
    }

    .downloadON_iOS {
        bottom: 250px;
    }
}