.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 550px;
    padding-right: 20px;
    height: 100%;
    background-color: var(--background);
    z-index: 2;
}

.content {
    padding-left: 150px;
    width: 400px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    top: 60px;
}

.search input[type="search"] {
    display: block;
    width: 100%;
    padding: 0 60px 0 60px;
    height: 60px;
    background-color: #f8f8f8;
    font-weight: 600;
    border-radius: 100px;

    background-repeat: no-repeat;
    background-position: 20px 50%;
    background-size: 25px;
    background-image: url(https://cdn.discordapp.com/attachments/667293886468718592/734609486307786862/search.png);
}

.search input[type="submit"] {
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 10px 50% 50% 10px;
    margin-left: -55px;
    background: radial-gradient(circle at top left, var(--theme-a), var(--theme-b));
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.list {
    position: absolute;
    margin-top: 80px;
    /* width: 100%; */
    height: 87%;
    overflow: auto;
}

.list::-webkit-scrollbar {
    width: 0;
}

.item {
    display: flex;
    align-items: center;
    padding: 16px;
    border-radius: 15px;
    color: var(--color);
    transition: .2s;
}

.item_avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: .2s;
}

.item:hover {
    background-color: #f8f8f8;
}

.item:hover .item_avatar {
    border-radius: 15px;
}

.item_content {
    margin-left: 15px;
}

.item_username {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 2px;
}

.item_newMSG {
    font-size: 12px;
    float: right;
    min-width: 25px;
    height: 25px;
    padding: 0 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    border-radius: 100px;
    margin-top: -10px;
    margin-right: -10px;
    background-color: #ec4561;
    color: white;
}

.item_lastMSG {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 300px;
    font-size: 15px;
    color: #a1a1a1;
}

.item_lastMSG img {
    width: 15px;
    height: 15px;
}

.item_lastMSG a {
    font-weight: 600;
}

.item_lastMSG_me {
    font-weight: 600;
    color: var(--color);
}

.empty {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
}

.empty_center {
    margin-left: 570px;
    height: 100%;
    position: relative;
}

.empty section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.empty span {
    width: 70px;
    height: 70px;
    margin: 0 auto 15px;
    display: block;
    
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../../../../public/icons/sad-face.png);
}

.empty h1 {
    font-weight: 600;
    font-size: 20px;
}